.header {
    text-align: center;
    padding-top: 30px;
    font-size: 2.6em;
    font-weight: bolder;
    color: dodgerblue;
}

body {
    background-color: black;
}

.about-me, .Skills, .contact {
    background-color: dodgerblue;
    border-radius: 40px;
    width: 1525px;
    height: 190px;
     
}
.about-head, .My-skills, .contact-title {
    color:black;
    padding-left: 20px;
    font-size: 1.6em;
}

.name, .title, .Skills-content ,.linkedin, .github {
    color:black;
    padding-left: 50px;
    font-size: 1.2em;
}


